[user]
    name = Neil Macy
    email = neil@neilmacy.co.uk
[color]
    ui = true
[core]
    excludesfile = $HOME/.gitignore_global
[pager]
    branch = false
[push]
    default = current
[init]
    defaultBranch = main
